<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="Tvdb" packages="" monitorInterval="30">
    <Properties>
        <Property name="pattern">%d{DEFAULT} %X %-5p %c - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <!-- Info and worse only -->
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <RollingFile name="TvdbInfo"
                     fileName="${sys:LOG_PATH}/TvdbInfo.log"
                     filePattern="${sys:LOG_PATH}/TvdbInfo-%d{yyyy-MM-dd}-%i.log">
            <!-- Info and worse only -->
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="TvdbDebug"
                     fileName="${sys:LOG_PATH}/TvdbDebug.log"
                     filePattern="${sys:LOG_PATH}/TvdbDebug-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL"/>
                <!-- Debug only -->
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="TvdbTrace"
                     fileName="${sys:LOG_PATH}/TvdbTrace.log"
                     filePattern="${sys:LOG_PATH}/TvdbTrace-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="DEBUG" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL"/>
                <!-- Trace only -->
                <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.atomikos" level="error"/>
        <Logger name="org.eclipse.jetty" level="info"/>
        <Logger name="org.springframework.transaction.jta" level="error"/>
        <Logger name="org.flywaydb.core" level="debug"/>

        <Root level="info">
            <AppenderRef ref="consoleAppender"/>
            <AppenderRef ref="TvdbDebug"/>
            <AppenderRef ref="TvdbInfo"/>
        </Root>
    </Loggers>
</Configuration>
