<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="Test" packages="">
    <Properties>
        <Property name="pattern">%d{DEFAULT} [%t] %X %-5p %c - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
    </Appenders>

    <Loggers>

        <Root level="warn">
            <AppenderRef ref="consoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
